@import "../_basic/var";

#wrap{width: 100%; min-width: 1000px; height: 100%; margin: auto; 
	background-color: $white;}

.gnb li:nth-child(1) a{font-weight: bold; color: $blue;}
.gnb li:nth-child(1):after{content: " "; display: block; width: 100%;
	height: 4px; background-color: $blue; margin-top: -3px;}

#contentBox{width: 100%; height: auto; min-height: 800px; 
	background-color: $white;}
#related{width: 100%; height: 80px; 
 &:after{content: " "; display:block; width: 86%; height: 80px; 
 	border-bottom: $border; margin-left: 10%;}	
 >p{float: left; margin-left: 140px; width: 130px; height: 100%;
 	line-height: 50px; text-align: center; font-weight: bold;}
 >ul{float: left; overflow: hidden; width:65%; height: 78px;
 	padding-top: 10px; box-sizing: border-box;
  li{float: left; width: auto; height: auto; 
  	margin-right: 20px; color: #00C; font-size: 0.9rem;
  	line-height: 30px; }}}

#information{float: left; width: 60%; height: 1000px;}

#resume{width: 100%; height: 300px; margin: auto;
 &:after{content:" "; display: block; margin-left: 10%;
 	width: 86%; height: 280px; border-bottom: $border;}
 >p{width: 100%; height: 30px; margin: 20px 0 10px; 
 	margin-left: 15%;
 	font-size:1.2rem; font-weight: bold; line-height: 30px;}
.resume_area{width: 100%; height: auto; 
	background-color: #fee;
 .pic{float:left; width: 170px; height: 220px; 
 	margin-left:15%; 
 	background: url($imgUrl + 'resumePic.jpg') no-repeat 50% 50% / contain;}
 .info{float: left; margin-left: 40px; width: 60%; height: 200px;
 dl{width: 100%; height: 30px;
 &:nth-of-type(1) {height: 40px; margin-bottom: 5px;
  dt{font-size: 1.48rem; width: 16%; color: #00c;}
  dd{font-size: 1.2rem; line-height: 2;}}
  dt{float: left; width: 15%; font-weight: bold;}
  dd{float: left;}}}}}

#etc{float: left; width: 40%; height: 1000px; 
	margin: 20px 0; 
	border-left: $border; box-sizing:border-box;}
.bestproj{width: 30%; height: 400px; 
	margin-left: 20px;}

#footBox{border-top: 2px solid #ddd;
	box-sizing:border-box;}
