@import "../_basic/var";

#wrap{width: 100%; min-width: 1000px; height: 100%; margin: auto; 
	/* background-color: $white; */}

.gnb li:nth-child(3) a{font-weight: bold; color: $blue;}
.gnb li:nth-child(3):after{content: " "; display: block; width: 100%;
	height: 4px; background-color: $blue; margin-top: -3px;}
.bigbox{width: 100%; height: auto; min-height: 500px;}
.conbox{display: flex; flex-wrap: wrap; justify-content: space-around;
  width: 90%; height: auto; min-height: 500px; margin: auto;
	margin-top: 40px;
 li{position:relative; float: left; 
 	width: 450px; height: 550px; 
 	margin-bottom:50px; border-radius: 10px;
 	border:$border; box-sizing:border-box;
  &:nth-child(1) img {transform: scale(0.92);}
  &:nth-child(3) img {top: 12px;}
  &:nth-child(5) img {top: -3px; transform: scale(0.95);}
  &:nth-child(1) img.action {top: 0; }
  &:nth-child(2) img.action {top: -805px; }
  &:nth-child(3) img.action {top: -260px; }
  &:nth-child(4) img.action {top: -944px; }
  &:nth-child(5) img.action {top: -200px; }
  &:nth-child(6) img.action {top: 0; }
  &:nth-child(7) img.action {top: 0; }
  &:nth-child(8) img.action {top: 0; }
  span{display: block; position:absolute; top:60px; left: 15px; overflow: hidden; 
  	width: 410px; height: 210px; font-size: 2rem; font-weight: bold;}
  img{position: absolute; top:0; left: 2px; z-index: -1; width: 415px; height: auto;
  	transition: all 4000ms ease;}
  .desklink{display:block; width: 100%; height: 360px; margin-bottom: 20px;
  	text-align: center; line-height: 360px;}
  .desktop{width: 450px; height: 360px; 
  	background: url($imgUrl + 'desktop.png') no-repeat 50% 100% / contain;}
  dl{width: 100%; height: 30px; padding-left: 20px; 
    box-sizing: border-box;
    line-height: 30px;
    &:nth-of-type(1) a:hover{font-weight: bold; color: $blue;}
  	&:nth-of-type(2) a:hover{font-weight: bold; color: $blue;}
  	&:nth-of-type(3) a:hover{font-weight: bold; color: #333;}
  	dt{float:left; width: 22%; font-weight: bold;}
  	dd{float: left;
    em{font-style: normal; font-weight: bold; font-size: 14px;}}}}}


.progress{position: absolute; right: 0; left: 0; top:18px; bottom: 0; margin: auto; 
    z-index: 100; width: 100px; height: 30px; 
    color: $white; font-weight: bold; line-height: 30px;}