@charset "UTF-8";
/*main.css */
/* @include horizontal_slide_banner('.my_banner,4'){
	$url:'../img/mybanner/';
	$imgName: 'mybanner_';
	$count:4;
	@include horizon_banner_img($count, $imgName, $url:$url, $file:'png');
	기타 div 및 하위내용삽입
} */
#headBox {
  width: 100%;
  height: 134px;
  padding: 20px 100px 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd; }

.headarea {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 64px;
  margin-bottom: 10px; }

h1 {
  float: left;
  width: 100px;
  height: 50px; }
  h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../../img/big_portfolio-01.png") no-repeat 50% 50%/contain; }
    h1 a:hover {
      outline: 0;
      transform: scale(1.1); }

.search {
  position: absolute;
  z-index: 100;
  left: 100px;
  top: 0;
  float: left;
  width: 500px;
  height: 40px;
  margin-top: 8px;
  margin-left: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #fff;
  transition: height 500ms ease; }
  .search.action {
    height: 300px;
    cursor: pointer;
    box-shadow: 0 0 3px #ddd; }

.searchtext {
  float: left;
  margin-left: 4%;
  line-height: 40px; }
  .searchtext > p {
    font-weight: bold; }

.searchlist {
  display: none;
  width: 100%;
  height: auto;
  margin-top: 10px; }
  .searchlist li {
    width: 100%;
    height: auto;
    margin-top: 2px;
    line-height: 30px; }

.searchlogo {
  float: right;
  width: 10%;
  height: 100%;
  line-height: 40px;
  text-align: center; }
  .searchlogo.action {
    font-size: 1.3rem; }

.gnb {
  width: 100%;
  height: 40px; }
  .gnb ul {
    width: 100%;
    min-width: 1000px;
    height: 100%; }
    .gnb ul:before {
      content: " ";
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: auto;
      border-top: 1px solid #ddd; }
    .gnb ul li {
      float: left;
      width: auto;
      height: 100%;
      margin-right: 10px; }
      .gnb ul li:first-child {
        margin-left: 140px; }
      .gnb ul li a {
        display: block;
        width: auto;
        height: 40px;
        line-height: 40px;
        padding: 0 30px; }
        .gnb ul li a:hover {
          font-weight: bold;
          color: #5479BC;
          font-size: 1.1rem; }
        .gnb ul li a:focus {
          font-weight: bold;
          color: #333;
          outline: none;
          font-size: 1.1rem; }

#wrap {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  margin: auto;
  background-color: #fff; }

.gnb li:nth-child(5) a {
  font-weight: bold;
  color: #5479BC; }

.gnb li:nth-child(5):after {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #5479BC;
  margin-top: -3px; }
