
.gnb li:nth-child(2) a{font-weight: bold; color: $blue;}
.gnb li:nth-child(2):after{content: " "; display: block; width: 100%;
	height: 4px; background-color: $blue; margin-top: -3px;}
#contentBox{width: 100%; min-width: 1400px; height: auto; min-height: 800px; 
	background-color: $white;}
#information{float: left; width: 60%; height: 1000px;}
#related{width: 100%; height: 80px; 
 &:after{content: " "; display:block; width: 86%; height: 80px; 
 	border-bottom: $border; margin-left: 10%;}	
 >p{float: left; margin-left: 140px; width: 130px; height: 100%;
 	line-height: 50px; text-align: center; font-weight: bold;}
 >ul{float: left; overflow: hidden; width:65%; height: 78px;
 	padding-top: 10px; box-sizing: border-box;
  li{float: left; width: auto; height: auto; 
  	margin-right: 20px; color: #00C; font-size: 0.9rem;
  	line-height: 30px; }}}

#resume{width: 100%; height: 350px; margin: auto; 
  background-color: $white;
 &:after{content:" "; display: block; margin-left: 10%;
 	width: 86%; height: 280px; border-bottom: $border;}
 >p{width: 100%; height: 30px; margin: 20px 0 10px; 
 	margin-left: 15%;
 	font-size:1.2rem; font-weight: bold; line-height: 30px;}
.resume_area{width: 100%; height: auto; 
 .pic{float:left; width: 170px; height: 220px; 
 	margin-left:15%; 
 	background: url($imgUrl + 'resumePic.jpg') no-repeat 50% 50% / contain;
 	&:hover{background-size: 105% auto;}}
 .persinfo{float: left; margin-left: 40px; width: 60%; height: 200px;
 dl{width: 100%; height: 30px;
 &:nth-of-type(1) {height: 40px; margin-bottom: 5px;
  dt{font-size: 1.48rem; width: 16%; color: #00c;}
  dd{font-size: 1.2rem; line-height: 2;}}
  dt{float: left; width: 15%; font-weight: bold;}
  dd{float: left; 
    em{font-style: normal; font-size: 13px; font-weight: bold;}
  }}}}}
.hdtext{position:relative; z-index: -10}
#copy{position: absolute; border:none;}
.copy{margin-left: 10px; border:$border; 
    font-size: 0.7rem; border-radius: 5px;
    background-color: #777; overflow: hidden;
    color:$white;
  a{display:block; width: 100%; height: auto; 
      padding: 2px 5px; color: inherit; 
    &:hover,&:focus{background-color: $blue;}
    &:active{background-color: #f00;}}}

#studyinfo{width: 100%; height: auto; margin: auto;
  &:after{content:" "; display: block; margin-left: 10%;
  width: 86%; height: 50px; border-bottom: $border;}
 .studylink{width: 100%; height: 32px; margin-left: 15%;
  li{float: left; width: auto; height: 30px;
  	border:$border; line-height: 30px;
  	background-color: #f0f0f0;
  &.action{background-color: #777; color: #fff; font-weight: bold;}
  	a{display: block; padding: 0 18px; color: inherit;}}}
 .infoconts{width: 100%; height: auto; margin-left: 15%; 
 	margin-top: 15px;
 dl{width: 100%; height: auto; margin-top: 15px; margin-left: 10px;
 dt{font-size: 1.5rem; color:$blue; font-weight: bold;
 	margin-bottom:5px; 
  em{font-style: normal; font-size: 1rem;}}
 dd{text-indent: 20px; text-transform: capitalize;}}}}
.studyconts{display: none;}
.educonts{display: none;}

.prizelink{width: 100%; height: 32px;margin-top: 50px; margin-left: 15%;
 li{@include link;
  &.action{@include linkAct;}
a{@include linkA;}}}

#ability{float: left; width: 40%; height: 1000px; 
	margin: 20px 0; 
	border-left: $border; box-sizing:border-box;}
.abilityLink{width: 100%; height: 30px; margin-bottom: 20px;
li{@include link;
  &:first-child{margin-left: 20px;}
  &.action{@include linkAct;}
a{@include linkA;}}}
.prizeconts{width: 100%; height: auto; margin-left: 15%; 
  margin-top: 15px;
  dl{width: 50%; height: 30px; line-height: 30px; margin-top: 15px; margin-left: 10px;
    dt{float:left; font-size: 1.1rem;   margin-bottom:5px; }
    dd{float:left; text-indent: 20px; font-size: 0.9rem;
     em{font-style: normal; font-size: 1rem; font-weight: bold;}}}}
.award{display: none;}

.compcan{@include ability;}
.compcan ul li.dif{margin-bottom: 40px;}
.language{display:none;
  @include ability;}