#wrap {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  margin: auto;
  background-color: #fff; }

.gnb li:nth-child(6) a {
  font-weight: bold;
  color: #5479BC; }

.gnb li:nth-child(6):after {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #5479BC;
  margin-top: -3px; }
