// _mixin.scss
@import "./var";

//내부에 있는 text 숨기는 기능 처리하기 
 @mixin hdTxt(){
 display:block; position: absolute; z-index: -1;
	  	overflow: hidden; width: 0; height: 0;}

//a요소 사이트 설정, 내부 span요소를 숨기게 만들기
@mixin link($w:100%, $h:100%){
	display: block; width: $w; height: $h;
	@content;
	>span{@include hdTxt;}}
//링크
@mixin link($h:30px){
	float: left; width: auto; height: $h;
  	border:$border; line-height: $h;
  	background-color: #f0f0f0;
}
//링크 액션
@mixin linkAct(){
	background-color: #777; color: #fff; font-weight: bold;
}
//링크 A
@mixin linkA(){
	display: block; padding: 0 18px; color: inherit;
}
@mixin ability(){
 width: 35%; height: 400px; margin-left: 30px;
 ul{width: 100%; height: auto;
 li{position:relative; width: 100%; height: 50px; margin-bottom: 10px;
 >div{float: left;width: 20%; height: 100%; 
  background-size: contain; background-repeat: no-repeat;
  background-position: 50% 50%;}
 dl{float:left; width: 80%;
 dt{margin-left: 10px; width: 100%; height: 25px;
	line-height: 25px; font-weight: bold;
 	text-transform: uppercase; font-size: 0.9rem;}
 dd{margin-left: 10px; width: 90%; height: 20px; background-color: #ddd;
 span{display: block; width: 0; height: 100%; 
  background-color: $blue; text-align:right; /* transition: width 2000ms ease; */}
  em{position: absolute; right:15px; bottom: 0;  z-index: 5;
  	font-style: normal; font-size: 0.9rem; line-height: 32px;} }}}}
}